:root {
    /* Card */
    --border-radius: max(1rem, 2vh);
    
    /* Front card */
    --card-front-background-color: #0093E9;
    --card-front-background-image: linear-gradient(45deg, #1e97dd 0%, #58f1e0 100%);

    /* Back card */
    --card-back-background-color: #4158D0;
    --card-back-background-image: linear-gradient(45deg, #4158ca 0%,#c94bc0 50%, #ffca67 100%);
}

.cardMenu {
    display: none;
    width: 100%;
    height: 100%;
}

.card {
    box-shadow: none;
    background: none;
}

.card-face {
    border-radius: var(--border-radius);
    
    backface-visibility: hidden;

    margin: var(--margin);
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    padding:2rem;
}

.card .image {
    display: flex;
    justify-content: center;
}
.card .image img {
    max-width: calc(80vw - 2 * var(--margin));
    max-height: calc(80vh - 2 * var(--margin));
}

.card .front {
    background-color: var(--card-front-background-color);
    background-image: var(--card-front-background-image);
}

.card .back {
    background-color: var(--card-back-background-color);
    background-image: var(--card-back-background-image);
}

.textLabel {
    display: flex;
    justify-content: center;
}

.smallerLabel {
    font-size: calc(var(--font-size) * 0.8);
}