:root {
    --min-width: 30rem;

    --size: 10px;
    --bigSize: calc(var(var(--size)) * 2)
}


.parentDiv {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.parentDiv > div {
    width: 100%;
    overflow-x: hidden;
}

.card {
    overflow: hidden;
    overflow-x: hidden;

    background: rgb(138, 138, 245);
}

.card-face {
    position: auto;

    /* Reset top, bottom, right and left */
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;

    height: fit-content;
}


.card .image img {
    /* max-width: calc(30vh - 2 * var(--margin)); */
    max-width: 30vh;
    /* max-height: calc(100% - 2 * var(--margin)); */
    max-height: 30vh;
}

.editor {
    background: rgb(195, 36, 36);
}


.preview {
    display: flex;
    flex-direction: column;
}

.frontMenu {
    margin-left: 0rem;
    background: rgb(27, 27, 216);
}

.backMenu {
    margin-left: 0rem;
    background: rgb(19, 206, 19);
}